<div class="container">
    <h3><strong>{{ user?.username }}</strong> profile</h3>
    <p><label>Firstname:</label> {{ user?.firstname}}</p>
    <p><label>Lastname:</label> {{ user?.lastname}}</p>
    <h4>Order History</h4>
    <table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>ID</th>
      <th>Number Items</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let order of orders; let i = index" >
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ order._id }}</td>
      <td>{{ order.numProduct }}</td>
      <td>{{ order.total | currency:'USD':true }}</td>
    </tr>
  </tbody>
</table>
</div>