<div class="container">
   <p *ngFor="let alert of alerts">
     <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
   </p>
    <div id="products" class="row list-group">
        <div *ngFor="let product of products"
            class="item col-sm-4 col-md-4 col-xs-4">
            <div class="thumbnail">
                <img class="group list-group-image" height="200px" width="300px" 
                        src="{{product.image}}" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        {{ product.name }}</h4>
                    <p class="group inner list-group-item-text">
                        {{ product.description }}</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                {{ product.price | currency:'USD':true}}</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" (click)="onAddToCart(product)">Add to cart</a>
                            <a class="btn btn-info" [hidden]="!isAdmin" (click)="onEdit(product)">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
